.table table{
    width: 110%;
    border-radius: 20px 20px 0 0;
    margin-right: 20px;
}

.table table tr:nth-child(odd){
    background-color: #fff;  
}

.table table tr:nth-child(even){
    background-color: #FFF2E7;  
}

.table table th{
    background-color: #FF9138;
    color: #fff;
    height: 40px;
    padding: 0 20px 0 20px;
}

.table table td{
    height: 40px;
    padding: 0 20px 0 20px;
}

.table .pagination {
    float: right;
    margin: 20px 0 20px 0;
}


