.table table{
    width: 1100px;
}

.table table tr:nth-child(odd){
    background-color: #fff;  
}

.table table tr:nth-child(even){
    background-color: #FFF2E7;  
}

.table table th{
    background-color: #FF9138;
    color: #fff;
    height: 40px;
    padding: 0 20px 0 20px;
}

.table table td{
    height: 40px;
    padding: 0 20px 0 20px;
}

.table .pagination {
    float: right;
    margin: 20px 0 20px 0;
}

.table1 table{
    width: 730px;
}

.table1 table tr:nth-child(odd){
    background-color: #fff;  
}

.table1 table tr:nth-child(even){
    background-color: #FFF2E7;  
}

.table1 table th{
    background-color: #FF9138;
    color: #fff;
    height: 40px;
    padding: 0 20px 0 20px;
}

.table1 table td{
    height: 40px;
    padding: 0 20px 0 20px;
}

.table1 .pagination {
    float: right;
    margin: 20px 0 20px 0;
}

