.nav-bar .ant-menu .ant-menu-item{
    border-radius: 1px !important;
}

.nav-bar .ant-menu .ant-menu-item:hover{
    background-color: #FFB800 !important;
    color: #fff !important;
}

.ant-menu-light .ant-menu-item-selected{
    background-color: #FFB800 !important;
    color: #fff !important;
}

.ant-menu-light .ant-menu-item-selected:hover{
    background-color: #FFB800 !important;
    color: #fff !important;
}