.top-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.top-bar .user{
    margin-right: 10px;    
}


